@import '../../style/theme';
@import '../../style/mixins/font';
@info-block-prefix-cls: ~"@{creams-prefix-cls}-info-block";

.@{info-block-prefix-cls}{
  // cursor: pointer;
  &-title{
    margin-bottom: 13px;
    display: @layout-block;
    .subitableFont(@font-size-small, @text-color-gray);
  }
  &-content{
    .subitableFont(@font-size-max, @text-color-dark);
    letter-spacing: 1px;
  }
  &__layout__inline{
    display: @layout-inline-block;
  }
  &__layout__block{
    display: @layout-block;
  }
}