@import "../../style/theme";

@building-info-block-prefix-cls: ~"@{creams-prefix-cls}-buildingInfoBlock";
@building-info-block-event-prefix-cls: ~"@{creams-prefix-cls}-buildingInfoBlock-event";

// common
.mask{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 6px;
  left: 11px;
  background: rgba(68, 148, 240, .6);
  border-radius: 3px;
}
.icon-image{
  display: @layout-inline-block;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease;
  border-radius: 3px;
}
.title{
  font-size: @font-size-base;
  letter-spacing: 1px;
}

.@{building-info-block-event-prefix-cls} {
  position: relative;
  .@{building-info-block-prefix-cls}{
    &-icon{
      color: @white-color;
      font-size: @font-size-max;
    }
  }
}

.@{building-info-block-prefix-cls} {
  display: @layout-flex;
  height: max-content;
  padding: 5px 10px; // TODO: 需要改为包裹组件的部分
  border-radius: 3px;
  &-default{
    background-color: @white-color;
  }
  &-light{
    background-color: @white-color;
  }
  &-dark{
    background-color: #23284a;
    color: @white-color;
  }
  &-small-image{
    &:extend(.icon-image);
    margin-right: 10px;
  }
  &-default-image{
    &:extend(.icon-image);
    margin-right: 10px;
  }
  &-large-image{
    &:extend(.icon-image);
    margin-right: 16px;
  }
  &-image-animate{
    opacity: 1;
  }
  &-light-title, &-default-title{
    color: @dark-grey-blue;
    &:extend(.title);
  }
  &-dark-title{
    color: #dde3f2;
    &:extend(.title);
  }
  &-mask-small{
    width:40px;
    height: 40px;
    &:extend(.mask);
  }
  &-mask-default{
    width: 54px;
    height: 36px;
    &:extend(.mask);
  }
  &-mask-large{
    width: 90px;
    height: 56px;
    &:extend(.mask);
  }
  &-mask-hidden{
    display: none;
  }
  &-content{
    color: #848fad;
    font-size: @font-size-small
  }
  
  &-overwrite{
    display: @layout-inline-block;
    line-height: @line-height-base;
    .creams-info-block-content{
      font-size: @font-size-base;
      margin-bottom: 0;
    }
    .creams-info-block-title{
      margin-bottom: 5px;
    }
  }
}