@import "@{antd-components-url}/button/style/index";
@import "../../style/theme";
@creams-btn-prefix-cls: ~"@{creams-prefix-cls}-btn";

// #basicLineHeight{
//   line-height: 1;
// }

.@{creams-btn-prefix-cls}{
  &-default{
    height: @btn-height-base;
    line-height: @line-height-base;
  }
  &-small{
    height: @btn-height-small;
    line-height: @line-height-base;
  }
  &-large{
    height: @btn-height-max;
    line-height: @line-height-base;
  }
  &-normal{
    border-color: @btn-normal-border-color;
    color: @btn-text-color-dark;
    &:hover, &:focus, &:visited{
      border-color: @btn-normal-border-color;
      background-color: @btn-normal-bg-color-hover;
      color: @btn-text-color-dark;
    }
    &:active{
      border-color: @btn-normal-border-color;
      background-color: @btn-normal-bg-color-active;
      color: @btn-text-color-dark;
    }
  }
  &-primary{
    background-color: @btn-primary-color;
    border-color: @btn-primary-color;
    color: @btn-text-color-white;
    &:hover, &:focus, &:visited{
      background-color: @btn-primary-color-hover;
      border-color: @btn-primary-color-hover;
      color: @btn-text-color-white;
    }
    &:active{
      background-color: @btn-primary-color-active;
      border-color: @btn-primary-color-active;
      color: @btn-text-color-white;
    }
  }
  &-danger{
    background-color: @btn-danger-color;
    border-color: @btn-danger-color;
    color: @btn-text-color-white;
    &:hover, &:focus, &:visited{
      background-color: @btn-danger-color-hover;
      border-color: @btn-danger-color-hover;
      color: @btn-text-color-white;
    }
    &:active{
      background-color: @btn-danger-color-active;
      border-color: @btn-danger-color-active;
      color: @btn-text-color-white;
    }
  }
  &-gradient{
    background: linear-gradient(to left, @btn-gradient-start-color, @btn-gradient-end-color);
    color: @btn-text-color-white;
    border: none;
    &:hover, &:focus, &:visited{
      background: linear-gradient(to left, @btn-gradient-start-color-hover, @btn-gradient-end-color-hover);
      color: @btn-text-color-white;
    }
    &:active{
      background: linear-gradient(to left, @btn-gradient-start-color-active, @btn-gradient-end-color-active);
      color: @btn-text-color-white;
    }
  }
  &-secondary{
    background-color: @btn-secondary-bg-color;
    border-color: @btn-secondary-color;
    color: @btn-secondary-color;
    &:hover, &:focus, &:visited{
      background-color: @btn-secondary-bg-color-hover;
      border-color: @btn-secondary-color-hover;
      color: @btn-secondary-color-hover;
    }
    &:active{
      background-color: @btn-secondary-bg-color;
      border-color: @btn-secondary-color;
      color: @btn-secondary-color;
    }
  }
  &-disabled-true{
    background-color: @btn-disable-color;
    border-color: @btn-disable-color;
    color: @btn-text-color-white;
    cursor: no-drop;
    &:hover, &:focus, &:visited{
      background-color: @btn-disable-color;
      border-color: @btn-disable-color;
      color: @btn-text-color-white;
    }
  }
}