@import "@{antd-components-url}/radio/style/index";
@import "../../style/theme";

@radio-group-prefix-cls: ~"@{creams-prefix-cls}-radio-group";

.@{radio-group-prefix-cls}{
  &-dark{
    &>label{
        background-color: @radio-group-dark-bg-color;
        color: @radio-group-dark-text-color
      }
      :global{
        .ant-radio-button-wrapper-checked{
          background-color: @radio-group-light-bg-color;
          color: @radio-group-light-text-color;
        }
      }
    }
  }