@import "//at.alicdn.com/t/font_596166_dxkrzd7ye9.css";
.creams-icon {
  color: #848fad;
  cursor: pointer;
}
.creams-icon:hover,
.creams-icon:focus,
.creams-icon:visited {
  color: #3595f6;
}
.creams-icon:active {
  color: #848fad;
}
.creams-icon-disabled-true {
  color: #dedede;
}
.creams-icon-disabled-true:hover,
.creams-icon-disabled-true:focus,
.creams-icon-disabled-true:visited,
.creams-icon-disabled-true:active {
  color: #dedede;
}
